{% extends "layout.html" %}
{% block content %}

<h1>Teams-Half Page</h1>
<div class="content-section">
    <h3>Half Season Team Stats Search</h3>

    <form action="/teamshalf/team_stats" method="post">
        <label for="team_name">Select a Team:</label>
        <select class="form-select" name="team_name" id="team_name">
            {% for team in teams %}
                <option value="{{ team }}">{{ team }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mt-2">Get Stats</button>
    </form>
</div>

{% endblock content %}