{% extends "layout.html" %}
{% block content %}
<h2>{{ team_name }}'s Statistics</h2>
    <h3>First Half Season</h3>
    {% if first_half %}
        <ul>
            <li>Name: {{ first_half[1] }}</li>
            <li>League ID: {{ first_half[2] }}</li>
            <li>Team ID: {{ first_half[3] }}</li>
            <li>Half: {{ first_half[4] }}</li>
            <li>Division ID: {{ first_half[5] }}</li>
            <li>Rank: {{ first_half[6] }}</li>
            <li>Games Played: {{ first_half[7] }}</li>
            <li>Total Wins: {{ first_half[8] }}</li>
            <li>Total Losses: {{ first_half[9] }}</li>
        </ul>
    {% else %}
        <p>No statistics available for {{ team_name }} for the second half season</p>

    <h3>Second Half Season</h3>    
    {% if second_half %}
        <ul>
            <li>Name: {{ second_half[1] }}</li>
            <li>League ID: {{ second_half[2] }}</li>
            <li>Team ID: {{ second_half[3] }}</li>
            <li>Half: {{ second_half[4] }}</li>
            <li>Division ID: {{ second_half[5] }}</li>
            <li>Rank: {{ second_half[6] }}</li>
            <li>Games Played: {{ second_half[7] }}</li>
            <li>Total Wins: {{ second_half[8] }}</li>
            <li>Total Losses: {{ second_half[9] }}</li>
        </ul>
    {% else %}
        <p>No statistics available for {{ team_name }} for the second half season</p>
    {% endif %}
    <a href="/teamshalf">Back to Team Selection</a>

{% endblock content %}