{% extends "layout.html" %}
{% block content %}
<h1>Fielding Detail Page</h1>
<article class="media content-section">
    <div class="media-body">
        <ul class="article-content list-group">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="{{ url_for('fielding.fielding_update_search', mksk_playerID=result[0], mksk_yearID=result[1], mksk_stint=result[2], mk_pos=result[5]) }}"
                    class="btn btn-secondary">Update</a>
                <a href="{{ url_for('fielding.fielding_delete', mksk_playerID=result[0], mksk_yearID=result[1], mksk_stint=result[2], mk_pos=result[5]) }}"
                    class="btn btn-secondary">Delete</a>
            </div>
            {% for col, name in header.items() %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ name|capitalize }}</span>
                <span class="badge badge-primary badge-pill">{{ result[loop.index - 1] }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</article>
{% endblock content %}