{% extends "layout.html" %}

{% block content %}
<h1>BaseballMarkt</h1>

<!-- Welcome Message -->
<div class="jumbotron">
    <h1 class="display-4">Welcome to Baseball-Markt!</h1>
    <p class="lead">Explore the world of baseball with our comprehensive database. Discover players, teams, managers, and more.</p>
    <hr class="my-4">
    <p>Stay updated with the latest news, player performances, and exciting moments in the world of baseball.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}

{% for new in news %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ new.date }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ new.title }}</a></h2>
    </div>
</article>
{% endfor %}
{% endblock content %}
